<%= form_for(@number_record) do |f| %>
  <% if @number_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@number_record.errors.count, "error") %> prohibited this number_record from being saved:</h2>

      <ul>
      <% @number_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
