<p id="notice"><%= notice %></p>

<h1>Listing Number Records</h1>
<% data_hash = {} %>
<% (1..10).each { |n| data_hash[n] = 0 } %>
<% data_hash.merge!(NumberRecord.group(:value).count) %>
<% chart_options =  { xtitle: "NumberRecord Value", ytitle: "Count", curve: false,
                      label: 'Count'} %>
<% library_options = { scales:
                       { yAxes: [{ticks: { max: data_hash.max_by{ |k,v| v }.second,
                                           min: 0, stepSize: 1 }}]}} %>
<% chart_options[:library] = library_options %>

<%= line_chart data_hash, chart_options %>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        
    <% @number_records.each do |number_record| %>
      <tr>
        <td><%= number_record.value %></td>
        <td><%= link_to 'Destroy', number_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Number record', new_number_record_path %>
